@import url("./colors.css");

.chat {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  background-color: var(--white);
  margin: 5px 10px;
  transition: all 0.5s ease-in-out;
}
.user-icon {
  width: 70px;
  height: 70px;
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 50px;
  margin: 3px 15px 3px 20px;
}

p {
  color: var(--black);
  font-size: 20px;
}

.chat:hover {
  box-shadow: 10px 10px 30px var(--ff-color);
  transform: scale(1.02);
}

.clicked {
  background-color: var(--f-color);
}

.clicked p {
  color: var(--white);
}
