@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
}
