@import url("./colors.css");

.left-block {
  height: 100%;
  width: 27%;
  min-width: 350px;
}

.chats {
  width: 100%;
  height: 92%;
  background: var(--third-background-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.input-chat {
  width: 94%;
  height: 50px;
  padding-left: 20px;
  margin: 10px;
  border-radius: 30px;
  border: 0;
}

.chats::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}
.chats::-webkit-scrollbar-thumb {
  background: #6200ff;
  border-radius: 4px;
}
