@import url("./colors.css");

.beginner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: var(--second-background-color);
}

.beginner-form h2 {
  color: white;
  margin-bottom: 10px;
  font-size: x-large;
}

.beginner-form form {
  display: flex;
  flex-direction: column;

  background: var(--second-background-color);
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 35px;
}

.beginner-form form * {
  padding: 7px;
  margin: 30px;
  border-radius: 35px;
  border: 0px;
}

.beginner-form form button {
  background: linear-gradient(55deg, #764ba2, #7b68ee);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  transition: all 1s ease-in-out;
}

.beginner-form form button:hover {
  background: var(--button-hover);
  transform: scale(1.1);
}

.underForm {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: white;
  cursor: pointer;
  padding: 10px;
}
