@import url("./colors.css");

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 54px;
}

.messages::-webkit-scrollbar {
  width: 5px;
  background-color: var(--white);
}
.messages::-webkit-scrollbar-thumb {
  background: var(--s-color);
  border-radius: 4px;
}
