@import url("./colors.css");

.reg-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--background-color);
}

.reg-form h2 {
  color: white;
  margin-bottom: 10px;
  font-size: x-large;
}

.reg-form form {
  display: flex;
  flex-direction: column;

  background: var(--second-background-color);
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 35px;
}

.reg-form form * {
  padding: 7px;
  margin: 30px;
  border-radius: 35px;
  border: 0px;
}

.reg-form form button {
  background: linear-gradient(55deg, #764ba2, #7b68ee);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  transition: all 1s ease-in-out;
}

.reg-form form button:hover {
  background: var(--button-hover);
  transform: scale(1.1);
}

#imageInput {
  background-color: white;
  color: black;
  padding-left: 30px;
}

#imageInput::file-selector-button {
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: #ffff;
  border: 0;
  padding: 7px;
  transition: all 1s linear;
}

#imageInput::file-selector-button:hover {
  border-radius: 30px;
  background-color: var(--button-hover);
  transform: scale(1.05);
  margin-right: 10px;
}

.reg-form form label.label-for-image {
  margin-bottom: 0;
  padding-bottom: 0px;
  color: #ffff;
  font-size: 20px;
}
